<html>
<body>
<pre>
    #set($Title = "CHT")
    Title:$!{Title}
    #parse("header.html")
    #include("header.html")

    hello
    $!{value1}
    $!{value2}  ##如果不存在强制为空
    ${value3}
    colors:$!{colors}

    #foreach($color in $colors)
        this is color:$color , $!{foreach.index},$!{foreach.count}
    #end

    $map
    #foreach($mapKey in $map.entrySet())
        $mapKey.key:$mapKey.value
    #end

    $user.getName()
    $user.name

    #macro(render_color,$color,$index)
        This is Color $index:$color
    #end
    #foreach($color in $colors)
        #render_color($color,$foreach.index)
    #end
</pre>
</body>
</html>